.new-topic-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.new-topic-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;

    min-height: 350px;
    width: 40%;
    
    padding: 10px 0px 10px 0px;
    background-color: var(--grey-3);
}

.topic-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    height: 100%;

    margin: 20px 0px;
    padding: 0px 10px;
}

.topic-input {
    height: 40%;
}

select {
    width: 100%;
}

