.landing-page {
    display: flex;
}

.topics-box {
    flex-direction: column;
    height: 97%;
    background-color: var(--grey-3);
    overflow-y: auto;
}

.auth-box {
    flex-direction: column;
    justify-content: center;
    background-color: var(--grey-3);
}

.topics-sub-header {
    padding: 5px 10px;
}

.topics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: fit-content;
}

.topics > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.delete-btn {
    margin: 0px 0px 0px 5px;
}